/*stili per il layout fisso con posizionamenti assoluti*/
html,body{margin: 0;padding:0; line-height: 1.2em; background-color: white;}
body{font-family: arial,sans-serif;font-size: 76%;text-align: center}
div#container{position:absolute; left:0; top: 0; width: 780px; height: 580px; margin: 0 auto;text-align: left;
    border-left: 1px solid black;border-right: 1px solid black;
    border-top: 1px solid black;border-bottom: 1px solid black;background-color: black}

/*stili generici, su header e footer*/
/*div#header{background-color:black;color: white}*/
div#header{margin: 0; padding: 0; background-image: url('../img/intestazione.jpg');background-repeat:no-repeat;color: white}
div#content{margin: 0; padding: 0; background-image: url('../img/background.jpg');background-repeat:no-repeat;color: black}
div#content-mp{margin: 0; padding: 0; background-image: url('../img/background-mp.png');background-repeat:no-repeat;color: black}
div#content a.impo{text-decoration: underline; font: bold 1em; color: blue; background-color: yellow}


a.testo{margin: 0;padding: 0em; color: darkred; font-weight: bold; text-decoration: underline}
a.lsite{margin: 0;padding: 0em; color: black; font-weight: bold; text-decoration: underline; text-align: center}


div#content a#link{text-decoration: none; color: black}
div#content p.testo{color: black; font-size: 76%; line-height: 1.2}



#screenshot{
		position:absolute;
		border:1px solid #ccc;
		background:#333;
		padding:5px;
		display:none;
		color:#fff;
		}

	/*  */



h1,h2,h3,h4,h5{margin: 0;padding:0}
h1{padding-left:0.5em;font: bold 2.3em/90px arial,serif}
h2{text-align: center; color: darkred;font-weight: bold; font-style: normal; font-size: 18px; line-height: 1.1em; margin: 0;padding: 0; font-family: "Tahoma";}
h3{text-align: center; color: black;font-weight: bold; font-style: normal; font-size: 14px; line-height: 1.1em; margin: 0;padding: 0; font-family: "Tahoma";}
h4{text-align: left; color: darkblue;font-weight: bold; font-style: normal; font-size: 12px; line-height: 1.2em; margin: 0;padding: 0; font-family: "Tahoma";}
h5{text-align: left; color: black;font-weight: normal; font-style: normal; font-size: 12px; line-height: 1.2em; margin: 0;padding: 0; font-family: "Tahoma";}
.small{text-align: center; color: black;font-weight: normal; font-style: normal; font-size: 12px; line-height: 1.0em; margin: 0;padding: 0; font-family: "Tahoma";}
.giust{text-align: justify; color: black;font-weight: normal; font-style: normal; font-size: 12px; line-height: 1.2em; margin: 0;padding: 0; font-family: "Tahoma";}
.descr{text-align: center; color: darkblue;font-weight: bold; font-style: normal; font-size: 12px; line-height: 1.2em; margin: 0.3em;padding: 0; font-family: "Tahoma";}
.destra{text-align: right; color: darkred;font-weight: bold; font-style: normal; font-size: 12px; line-height: 1.2em; margin: 0;padding: 0; font-family: "Tahoma";}
div#footer a{color: darkblue;font-weight: bold;text-decoration: underline}
div#footer-intro a{color: darkblue;font-weight: bold;text-decoration: underline}

td.menu
{
padding: 0em;
padding-left:16px;
border-top: 0px solid yellow;
border-left: 0px solid yellow;
border-right: 0px solid yellow;
border-bottom: 0px solid yellow;
color: white;
background-image: url('../img/bgrmenu.png');
background-repeat: no-repeat;
text-align: left;
vertical-align: middle;
font-family: tahoma;
font-weight: bold;
font-size: 10px;
line-height: 1.2em;
height: 26px;
}
td.menusel
{
padding: 0em;
padding-left: 16px;
border-top: 0px solid yellow;
border-left: 0px solid yellow;
border-right: 0px solid yellow;
border-bottom: 0px solid yellow;
color: black;
background-image: url('../img/bgrmenu.png');
background-repeat: no-repeat;
text-align: left;
vertical-align: middle;
font-family: tahoma;
font-weight: bold;
font-size: 10px;
line-height: 1.2em;
height: 26px;
}

td.menublank
{
padding: 0em;
padding-left:16px;
border-top: 0px solid yellow;
border-left: 0px solid yellow;
border-right: 0px solid yellow;
border-bottom: 0px solid yellow;
background-color: black;
background-repeat: no-repeat;
color: white;
text-align: left;
vertical-align: middle;
font-family: tahoma;
font-weight: bold;
font-size: 10px;
line-height: 1.2em;
height: 26px;
}




/*stili specifici per il layout*/
div#header{left:0; top: 0; height: 145px}
div#navigation{position:absolute;padding-top: 20px; top: 145px;left: 0;width: 139px; height: 415px}
div#navigation a{color:white;font: normal bold 10px tahoma,arial;text-decoration: none}
div#navigation a.noevid:hover{color:white;background-color: black; font: normal bold 10px tahoma,arial;text-decoration: none}
div#navigation a:hover{color: darkred;background-color: yellow;text-decoration: none}

div#navigation a.select{color: yellow;background-color: darkred;text-decoration: none}
div#navigation a.select:hover{color: yellow;background-color: darkred;text-decoration: none}
div#content{position: absolute; left: 150px; top: 145px; height: 390px; width: 620px; border: 0px solid white}
div#content-mp{position: absolute; left: 150px; top: 145px; height: 390px; width: 620px; border: 0px solid white}
div#text{padding: 0; margin-left: 50px; margin-top: 40px; margin-right: 38px; border: 0px solid lightblue; height: 314px; overflow: auto;}
div#text-mp{padding: 85px; padding-top: 80px; margin-left: 50px; margin-top: 30px; margin-right: 38px; border: 0px solid lightblue; height: 324px; overflow: visible}
div#footer{margin-top: 395px; text-align:center; padding: 0.5em;
    background-color: lightyellow; color: black}
div#footer-intro{text-align:center; padding: 0.5em;
    background-color: lightyellow; color: black}

